body {
    font-family:Arial;
    background-color:blanchedalmond;
    color:darkslategray;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align:center;
  }

  p ~ a {
    background-color:orangered;
    color:whitesmoke;
  }
  
  .babel-fish {
    color:navy;
  }

  #babel-fish-one {
    color:blue;
  }

  #babel-fish-two {
    color:blueviolet;
  }

  #box {
    width:200px;
    height:200px;
    background-color:cadetblue;
  }

  #box:hover {
    width:300px;
    height:300px;
    background-color:chartreuse;
  }

  header > p {
    color:darkslateblue;
  }

  article p {
    color:red;
  }

  article aside p {
    color:blue
  }

input[type=text]:focus {
    background-color:limegreen;
}

button[type=submit]:focus {
    background-color:deepskyblue;
}

input[type=email]:focus {
    background-color:goldenrod;
}

input[type=password]:focus {
    background-color:hotpink;
}

textarea:focus {
    background-color:deeppink;
}

#radio {
    color:red;
}

select:focus {
    background-color:plum;
}

fieldset {
    color:blue;
}

fieldset legend {
    color: green;
}

fieldset label {
    color:rebeccapurple
}

button[type=reset], button[type=submit] {
    background-color:greenyellow;
    color:purple;
}